<footer class="page-footer purple darken-1">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Boy Scout Troop 87</h5>
				<p class="grey-text text-lighten-4">Troop 87 is a quality troop run using the traditional Boy Scout program. Our boys come from Cupertino, Los Altos, Mountain View, Palo Alto and Sunnyvale (California).</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="/">Home</a></li>
					<li><a class="grey-text text-lighten-3" href="#scouts">Scouts</a></li>
					<li><a class="grey-text text-lighten-3" href="#calendar">Calendar</a></li>
					<li><a class="grey-text text-lighten-3" href="#map">Map</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<center>© 2017 Boy Scout Troop 87</center>
		</div>
	</div>
</footer>