<div class="navbar-fixed">
	<nav class="purple darken-1">
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo">Troop 87</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				<li><a href="/#scouts">Scouts</a></li>
				<li><a href="/#calendar">Calendar</a></li>
				<li><a href="/#map">Map</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</nav>
</div>
<ul class="side-nav" style="z-index: 999" id="nav-mobile">
	<li><a href="/">Home</a></li>
	<li><a href="/#scouts">Scouts</a></li>
	<li><a href="/#calendar">Calendar</a></li>
	<li><a href="/#map">Map</a></li>
</ul>
<br />