<!DOCTYPE html>
<html>
	<head>
		<title><%= error.status %></title>
		<% include partials/head.ejs %>
	</head>

	<body>
		<h1><%= error.status %></h1>
		<h3><%= message %></h3>
		<p><a href="/logout">Log out</a></p>
	</body>
</html>

<!-- <code><%= error.stack %></code> -->
