<!DOCTYPE html>
<html>
	<head>
		<title><%= error.status %></title>
		<% include partials/head %>
	</head>
	<body>
		<% include partials/nav %>
		<main>
			<div class="container">
				<div class="card-panel">
					<center>
						<h1><%= error.status || 404 %></h1>
						<h5>Page not found</h5>
					</center>
				</div>
			</div>
		</main>
		<% include partials/footer %>
	</body>
</html>

<!-- <code><%= error.stack %><%= message %></code> -->
