<!DOCTYPE html>
<html>
	<head>
		<title>Log In</title>
		<% include partials/head.ejs %>
	</head>

	<body>
		<main>
			<% include partials/nav %>
			<div class="container">
				<div class="row">
					<div class="col s12 m8 offset-m2">
						<div class="card-panel embed-card">
							<h4 class="purple darken-1 white-text">Log in <i class="fa fa-angle-right fa-fw"></i></h4>
							<div class="card-wrap">
								<form action="/members/login" method="post">
									<div class="input-field">
										<input type="text" name="username" /><br/>
										<label>Username:</label>
									</div>
									<div class="input-field">
										<input type="password" name="password" />
										<label>Password:</label>
									</div>
									<div>
										<button class="btn purple darken-1 waves-effect waves-light" type="submit" name="action">Log in
										    <i class="material-icons right">send</i>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<% include partials/footer %>

	</body>
</html>