<!DOCTYPE html>
<html>
<head>
	<title></title>
	<% include partials/head.ejs %>
</head>
<body>
	<p><a href="/members/logout">Log out</a></p>
	<p><a href="/members/events">Events</a></p>
</body>
</html>