<!DOCTYPE html>
<html>

<head>
	<title>Troop 87 Members Area</title>
	<% include partials/head %>
</head>

<body>
	<main>
		<% include partials/nav %>
			<header>
				<h1>Boy Scout Troop 87 Members Area</h1>
				<hr />
				<p><a href="https://goo.gl/maps/6qFDwquqqrK2" target="blank">575 N Shoreline Blvd. Mountain View, CA</a></p>
			</header>
			<div class="container">
				<br />
				<div class="row">
					<div class="col s12">
						<div class="card-panel embed-card">
							<h4 class="red white-text">Sign up for the e-group</i></h4>
							<div class="scout-links">
								<div class="row" id="link-block">
									<div class="col s12 m6">
										<i class="fa fa-fw fa-yahoo"></i>&nbsp;&nbsp;<a href="/members/events">Visit the group</a>
										<br />
										<br />
									</div>
									<div class="col s12 m6">
										<i class="fa fa-fw fa-pencil"></i>&nbsp;&nbsp;<a href="/members/events">Post in the group</a>
										<br />
										<br />
									</div>
									<div class="col s12 m6">
										<i class="fa fa-fw fa-user-circle-o"></i>&nbsp;&nbsp;<a href="/members/events">Subscribe</a>
										<br />
										<br />
									</div>
									<div class="col s12 m6">
										<i class="fa fa-fw fa-times-circle-o"></i>&nbsp;&nbsp;<a href="/members/events">Unsubscribe</a>
										<br />
										<br />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<div class="card-panel embed-card">
							<h4 class="blue lighten-1 white-text">Scouts</i></h4>
							<div class="scout-links">
								<div class="row" id="link-block">
									<div class="col s12 m6">
										<i class="fa fa-fw fa-calendar"></i>&nbsp;&nbsp;<a href="/members/events">Events</a>
										<br />
										<br />
									</div>
									<div class="col s12 m6">
										<i class="fa fa-fw fa-times-circle-o"></i>&nbsp;&nbsp;<a href="/members/logout">Log Out</a>
										<br />
										<br />
									</div>
									<div class="col s12 m6">
										<i class="fa fa-fw fa-pencil"></i>&nbsp;&nbsp;<a href="/#">Troop Facebook Group</a>
										<br />
										<br />
									</div>
									<div class="col s12 m6">
										<i class="fa fa-fw fa-gear"></i>&nbsp;&nbsp;<a href="/#">Troop Twitter</a>
										<br />
										<br />
									</div>
									<div class="col s12 m6">
										<i class="fa fa-fw fa-list-ol"></i>&nbsp;&nbsp;<a href="/#">Troop Shutterfly</a>
										<br />
										<br />
									</div>
									<div class="col s12 m6">
										<i class="fa fa-fw fa-list"></i>&nbsp;&nbsp;<a href="/#">Scout Roster</a>
										<br />
										<br />
									</div>
									<div class="col s12 m6">
										<i class="fa fa-fw fa-user"></i>&nbsp;&nbsp;<a href="/#">Adult Roster</a>
										<br />
										<br />
									</div>
									<div class="col s12 m6">
										<i class="fa fa-fw fa-ambulance"></i>&nbsp;&nbsp;<a href="/#">Eagle Alumni Roster</a>
										<br />
										<br />
									</div>
									<div class="col s12 m6">
										<i class="fa fa-fw fa-calendar"></i>&nbsp;&nbsp;<a href="/#">Adult Leader Alumni</a>
										<br />
										<br />
									</div>
									<div class="col s12 m6">
										<i class="fa fa-fw fa-info"></i>&nbsp;&nbsp;<a href="/#">Troop Phone Tree</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-panel embed-card">
					<h4 class="purple darken-1 white-text">
						Update your contact information
					</h4>
					<div class="row" style="margin-bottom: 0;">
						<div class="col s10 offset-s1 l8 offset-l2">
							<br />
							<div class="row">
								<div class="col s6">
									<input class="with-gap" value="adult" name="selector" type="radio" id="adult" checked />
									<label for="adult" class="black-text">Adult</label>
								</div>
								<div class="col s6">
									<input class="with-gap" value="scout" name="selector" type="radio" id="scout" />
									<label for="scout" class="black-text">Scout</label>
								</div>
							</div>
							<div id="adult-form">
								<form action="/members/update-contact" method="post">
									<div class="row">
										<div class="col s12 l6">
											<div class="input-field">
												<input id="a_first_name" type="text" name="a_first_name" required />
												<label for="a_first_name">First Name *</label>
											</div>
										</div>
										<div class="col s12 l6">
											<div class="input-field">
												<input id="a_last_name" type="text" name="a_last_name" required />
												<label for="a_last_name">Last Name *</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col s12 l6">
											<div class="input-field">
												<input id="a_phone" type="text" name="a_phone" />
												<label for="a_phone">Phone Number</label>
											</div>
										</div>
										<div class="col s12 l6">
											<div class="input-field">
												<input id="a_email" type="email" name="a_email" />
												<label for="a_email">Email</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col s12">
											<div class="a_input-field">
												<input placeholder="Address" id="a_address" type="text" name="a_address" />
											</div>
										</div>
									</div>
									<button class="btn purple darken-1 waves-effect waves-light" type="submit">Update
										<i class="material-icons right">send</i>
									</button>
								</form>
							</div>

							<div id="scout-form" style="display: none;">
								<form action="/members/update-contact" method="post">
									<br />
									<h5>Scout</h5>
									<div class="row">
										<div class="col s12 l6">
											<div class="input-field">
												<input id="first_name" type="text" name="first_name" required />
												<label for="first_name">First Name *</label>
											</div>
										</div>
										<div class="col s12 l6">
											<div class="input-field">
												<input id="last_name" type="text" name="last_name" required />
												<label for="last_name">Last Name *</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col s12 l6">
											<div class="input-field">
												<input id="phone" type="text" name="phone" />
												<label for="phone">Phone Number</label>
											</div>
										</div>
										<div class="col s12 l6">
											<div class="input-field">
												<input id="email" type="email" name="email" />
												<label for="email">Email</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col s12">
											<div class="input-field">
												<input placeholder="Home Address" id="address" type="text" name="address" />
											</div>
										</div>
									</div>
									<br />
									<h5>Parent 1</h5>
									<div class="row">
										<div class="col s12 l6">
											<div class="input-field">
												<input id="p_first_name" type="text" name="p_first_name" />
												<label for="p_first_name">Parent 1 First Name</label>
											</div>
										</div>
										<div class="col s12 l6">
											<div class="input-field">
												<input id="p_last_name" type="text" name="p_last_name" />
												<label for="p_last_name">Parent 1 Last Name</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col s12 l6">
											<div class="input-field">
												<input id="p_phone" type="text" name="p_phone" />
												<label for="p_phone">Parent 1 Phone Number</label>
											</div>
										</div>
										<div class="col s12 l6">
											<div class="input-field">
												<input id="p_phone_2" type="email" name="p_phone_2" />
												<label for="p_phone_2">Parent 1 Alternate Phone Number</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col s12 l6">
											<div class="input-field">
												<input id="p_email" type="email" name="p_email" />
												<label for="p_email">Parent 1 Email</label>
											</div>
										</div>
										<div class="col s12 l6">
											<div class="input-field">
												<input placeholder="Parent 1 Address" id="p_address" type="text" name="p_address" />
											</div>
										</div>
									</div>
									<br />
									<h5>Parent 2</h5>
									<div class="row">
										<div class="col s12 l6">
											<div class="input-field">
												<input id="p2_first_name" type="text" name="p2_first_name" />
												<label for="p2_first_name">Parent 2 First Name</label>
											</div>
										</div>
										<div class="col s12 l6">
											<div class="input-field">
												<input id="p2_last_name" type="text" name="p2_last_name" />
												<label for="p2_last_name">Parent 2 Last Name</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col s12 l6">
											<div class="input-field">
												<input id="p2_phone" type="text" name="p2_phone" />
												<label for="p2_phone">Parent 2 Phone Number</label>
											</div>
										</div>
										<div class="col s12 l6">
											<div class="input-field">
												<input id="p2_phone_2" type="email" name="p2_phone_2" />
												<label for="p2_phone_2">Parent 2 Alternate Phone Number</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col s12 l6">
											<div class="input-field">
												<input id="p2_email" type="email" name="p2_email" />
												<label for="p2_email">Parent 2 Email</label>
											</div>
										</div>
										<div class="col s12 l6">
											<div class="input-field">
												<input placeholder="Parent 2 Address" id="p2_address" type="text" name="p2_address" />
											</div>
										</div>
									</div>

									<button class="btn purple darken-1 waves-effect waves-light" type="submit">Update
										<i class="material-icons right">send</i>
									</button>
								</form>
							</div>
							<br />
							<br />
						</div>
					</div>
				</div>
				<br />
			</div>
	</main>
	<% include partials/footer %>
	<script>
		$(document).ready(function() {
			$("#address").geocomplete();
			$("#a_address").geocomplete();
			$("#p_address").geocomplete();
			$("#p2_address").geocomplete();
			$("input[type=radio]").click(function() {
				if (this.value == "adult") {
					$('#adult-form').fadeIn("600");
					$('#scout-form').hide();
				} else if (this.value == "scout") {
					$('#adult-form').hide();
					$('#scout-form').fadeIn("600");
				}
			});
			$('a[href*="#"]').not('[href="#"]').not('[href="#0"]').click(function(t) {
				if (location.pathname.replace(/^\//, "") == this.pathname.replace(/^\//, "") && location.hostname == this.hostname) {
					var e = $(this.hash);
					(e = e.length ? e : $("[name=" + this.hash.slice(1) + "]")).length && (t.preventDefault(), $("html, body").animate({ scrollTop: e.offset().top - 65 }, 1e3, function() {
						var t = $(e);
						if (t.focus(), t.is(":focus")) return !1;
						t.attr("tabindex", "-1"), t.focus()
					}))
				}
			});
			$('.button-collapse').sideNav({
				closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
				draggable: true
			});
			if (<%=success%> == true) {
				Materialize.toast('Contact update request submitted!', 2000);
			}
		});
	</script>
	<script src="//maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCskBQy7aj62zdYV23LT8_KFTGWIaymmyQ"></script>
	<script src="//cdn.rawgit.com/ubilabs/geocomplete/85b13a0e/jquery.geocomplete.min.js"></script>
</body>

</html>